<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       		http://www.springframework.org/schema/aop 
       		http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/tx 
            http://www.springframework.org/schema/tx/spring-tx.xsd" >
	
		<!-- location值为参数配置文件的位置 -->
	<context:property-placeholder location="classpath:properties/db-config.properties"/>
	
		<!-- 配置数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}"/>
		<property name="jdbcUrl" value="${jdbc.url}"/>
		<property name="user" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
		<property name="maxPoolSize" value="${maxPoolSize}"/>
		<property name="minPoolSize" value="${minPoolSize}"/>
		<property name="autoCommitOnClose" value="${autoCommitOnClose}"/>
		<property name="checkoutTimeout" value="${checkoutTimeout}"/>
		<property name="acquireRetryAttempts" value="${acquireIncrement}"/>
	</bean>
	
		<!-- 配置session工厂  -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
	    <property name="dataSource" ref="dataSource"></property>
	    	<!--mapper实例映射关系文件配置在cfg文件里-->
	    <property name="configLocation" value="classpath:orm/hibernate.cfg.xml"/>
	    <property name="mappingLocations">
	    	<value>classpath:cn/itcast/erp/*/*/vo/*Model.hbm.xml</value>
	    </property>
	</bean>
	
	<!--配置HibernateTemplate-->
    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
		<!-- spring事务 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
		<!-- spring-aop -->
	<aop:config proxy-target-class="true">
		<aop:pointcut id="myPointcut" expression="execution(* com.itcast.*.service.*.*(..))"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="myPointcut"/>
	</aop:config>
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<!--默认：
			    isolation:DEFAULT
			    propagation:REQUIRED
			    timeout:-1 事物超时时间由底层事物系统决定
			    read-only:false
			    rollback-for:所有允许异常回滚
			    no-rollback-for:所有检查异常不回滚 -->
			<tx:method name="get*" read-only="true"/>
			<tx:method name="do*"/>
		</tx:attributes>
	</tx:advice>

</beans>